~:extend('_index')~

~:block('body')~
	<header>
		<h1>
			MorrowTwo Framework.
		</h1>
	</header>
	
	<section>
		<p>
			<a href="~~:url('test/')~">Test-Link</a>
		</p>

		<p>
			<em>Well done. You have properly installed the MorrowTwo Framework. Wasn't that difficult, eh?</em><br />
			This is the default home page of the <code>main</code> project.
		</p>
		
		<p>		
			Now that you're up and running, it's time to start creating! Here are some links to help you get started: 
		</p>
			
		<ul>
			<li>
				<strong>Official website:</strong> <a href="http://code.google.com/p/morrowtwo/" target="_blank">http://code.google.com/p/morrowtwo/</a>
			</li>
			<li>
				<strong>Documentation:</strong> <a href="http://code.google.com/p/morrowtwo/wiki/Homepage?tm=6" target="_blank">http://code.google.com/p/morrowtwo/wiki/Homepage?tm=6</a>
			</li>
		</ul>
	</section>


	<style>
	input.error { background: #fee; }
	</style>

	<?php
	\Morrow\Form::$error_class = 'error';
	$form->setName('testform');
	?>

	<form action="~~:raw($page.path.absolute)~" method="post" enctype="multipart/form-data">
		~~$form->hidden('sent', 'ok')~

		~~$form->label('salutation', 'Anrede')~
		~~$form->select('salutation', :raw($salutations))~
		~~$form->error('salutation')~
		<br />

		~~$form->label('text', 'Text')~
		~~$form->text('text')~
		~~$form->error('text')~
		<br />

		~~$form->label('file', 'Datei-Upload')~
		~~$form->file('file')~
		~~$form->error('file')~
		<br />

		~~$form->hidden('multi[]', 'vater')~
		~~$form->hidden('multi[]', 'mutter')~
		~~$form->error('multi[]')~
		<br />

		<input type="submit" value="Submit">
	</form>
~:endblock('body')~

