@import url(http://fonts.googleapis.com/css?family=Cinzel);

body { font: normal 13px/18px Arial,sans-serif; background: #fff; color: #666; margin: 0; padding: 0; }
#canvas { width: 760px; margin: 100px auto; }

header { border-bottom: 1px solid #ccc; margin: 0 0 40px 0; }
h1 { font: normal 40px/40px 'Cinzel',serif; color: #333; padding: 20px 0; text-align: center; border-bottom: 20px solid #f3f3f3; }
h2 { color: #333; font: normal 24px/24px 'Cinzel',serif; text-align: left; }
a { color: #69f; text-decoration: none; }
a:hover { color: #36f; }
p { margin: 20px 0; }
strong { font-weight: bold; }
em { font-style: italic; }
code { background: #f3f3f3; font-family: monospace; padding: 0 5px; }
