RewriteEngine on

# This htaccess is the configuration for this installation
# Main target is to map SEO friendly URLs to the bootstrap file 


# force SSL for all files
# -----------------------
# RewriteCond %{SERVER_PORT}     !^443$
# RewriteRule (.*)  https://%{SERVER_NAME}%{REQUEST_URI} [L]

# Rewrite "www.domain.com -> domain.com
# -------------------------------------
# RewriteCond %{HTTPS} !=on
# RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
# RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Emulate RewriteBase
# -------------------
# You just need to set this here if you need a RewriteBase and the public folder is set as document root
# If the pulic folder is not document root but you need a rewrite base you have to set it in the project distributor .htaccess 
# -------------------
# Enable rewrite base for a TLD
# RewriteCond %{HTTP_HOST} \.[a-z]{2,}$
# RewriteRule . - [E=REWRITEBASE:/morrowtwo/branches/ce-single-project/]

# Disable rewrite base for development URLs
# RewriteCond %{HTTP_HOST} !\.[a-z]{2,}$
# RewriteRule . - [E=REWRITEBASE:]

# Map request to index.php if the file was not found and there is no dot in the path
# ---------------------------------------------------------------------------------------------
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-z0-9-/]*)$ %{ENV:REWRITEBASE}index.php/$1 [NC]


# Switch directory listing
Options -Indexes

# prevent dirty coding
<IfModule mod_speling.c>
	CheckSpelling Off
</IfModule>

# deflate static ressources
<Ifmodule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/css application/json
	AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript 
	AddOutputFilterByType DEFLATE text/xml application/xml text/x-component
</IfModule>

# Trigger IEs best render mode
<IfModule mod_headers.c>
	Header set X-UA-Compatible "IE=edge"
</IfModule>
