# Enable PHP5
# AddType application/x-httpd-php5 .php

# Enable PHP5 at "1&1"
# AddType x-mapp-php5 .php

# Do not support dirty coding
# CheckSpelling Off 

# Switch directory listing
Options -Indexes

# Set default index file
DirectoryIndex index.php


<IfModule mod_rewrite.c>
	RewriteEngine on
	# RewriteBase /

	# force SSL for all files
	#RewriteCond %{SERVER_PORT}     !^443$
	#RewriteRule (.*)  https://%{SERVER_NAME}%{REQUEST_URI} [L]

	# protect directories and files with a leading underscore
	RewriteRule ((^|\/)_.*) ./ [F,L]

	# reduce request to one GET parameter
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php?morrow_content=$1 [QSA]
</IfModule>

# Rewrite "www.domain.com -> domain.com
#<IfModule mod_rewrite.c>
#	RewriteCond %{HTTPS} !=on
#	RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
#	RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
#</IfModule>

<Ifmodule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/css text/javascript application/x-javascript
</IfModule>

<IfModule mod_headers.c>
	Header set X-UA-Compatible "IE=edge,chrome=1"
</IfModule>
