# This htaccess is for dividing several projects (not only Morrow projects)
# It is not used if the document-root is set directly to the public folder


RewriteEngine on
# RewriteBase /

# Add a line for every additional subfolder project
RewriteCond %{REQUEST_URI} !/cms/

# Map all other requests to the frontend subfolder
RewriteRule ^(.*)$ frontend/$1?%{REQUEST_FILENAME}
